{% extends "base.html" %}

{% macro render_tema_publico(tema) %}
    <a href="{{ url_for('main.hacer_test', tema_id=tema.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center 
        {% if tema.subtemas %} disabled bg-light text-muted{% endif %}">
        <div>
            {% if tema.parent_id %}
                <span class="ps-4">- {{ tema.nombre }}</span>
            {% else %}
                <span class="fw-bold">{{ tema.nombre }}</span>
            {% endif %}
        </div>
        {% if not tema.subtemas %}
            <span class="badge bg-primary rounded-pill">{{ tema.total_preguntas }} preguntas</span>
        {% else %}
             <span class="badge bg-secondary rounded-pill">{{ tema.total_preguntas }} preguntas en total</span>
        {% endif %}
    </a>
    {% if tema.subtemas %}
        <div class="list-group" style="margin-left: 20px;">
            {% for subtema in tema.subtemas %}
                {{ render_tema_publico(subtema) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% block content %}
<div class="card shadow-sm">
    <div class="card-body p-4">
        <a href="{{ url_for('main.convocatoria_detalle', convocatoria_id=bloque.convocatoria.id) }}" class="text-muted text-decoration-none mb-3 d-inline-block"><i class="bi bi-arrow-left"></i> Volver a los bloques de {{ bloque.convocatoria.nombre }}</a>
        <h1 class="display-5">{{ bloque.nombre }}</h1>
        <p class="fs-4 text-muted">Temario de este bloque.</p>
        <hr class="my-4">

        <div class="list-group">
            {% for tema in temas %}
                {{ render_tema_publico(tema) }}
            {% else %}
                <p class="text-muted">No hay temas en este bloque.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}