{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm">
                <div class="card-body p-4 p-md-5">
                    <h1 class="card-title mb-4">Esta web recopila y almacena información básica del usuario (como nombre, correo electrónico y resultados de tests) únicamente con fines de registro, funcionamiento de la plataforma y mejora del servicio.
                    No compartimos tus datos con terceros sin tu consentimiento.
                    Puedes solicitar la eliminación de tu cuenta y datos en cualquier momento escribiéndonos a [tu correo].
                    Al utilizar esta web, aceptas esta política.</h1>
                    <hr class="mb-4">

                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}